<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eShop</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://use.fontawesome.com/842230a8af.js"></script>
</head>
<body>
    <div class="vueApp">
        <header>
            <div class="logo">eShop</div>
            <div class="cart">
                <form action="#" class="cart-search">
                    <input type="text" class="search-field" placeholder="Search">
                    <button class="search-button" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
                <button class="cart-button" @click="isShown = !isShown">Корзина</button>
                <div class="cart-block" v-show="isShown">
                    <div class="cart-item" v-for="item of cartProducts" :key="item.id_product">
                        <img :src="cartImg" alt="">
                        <p class="cart-p">{{ item.product_name }}</p>
                        <p class="cart-p">{{ item.price }} руб.</p>
                        <p class="cart-p">{{ item.quantity }} шт.</p>
                        <button class="remove-button" @click="removeProduct(item)">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                    <p class="cart-p" v-show="cartProducts.length">Итого {{ calcGoods }} шт. на сумму {{ calcSum }} руб.</p>
                </div>
            </div>
        </header>
        <div class="wrapper">
            <div class="products">
                <div class="products-item" v-for="item of products" :key="item.id_product">
                    <img :src="imgCatalog" :alt="item.product_name">
                    <p class="item-title">{{ item.product_name }}</p>
                    <p class="item-price">{{ item.price }}</p>
                    <button class='products-btn' @click="addProduct(item)">Купить</button>
                </div>
            </div>
        </div>
        <footer>
            <p class="copyright">Copiright<sup>&copy;</sup></p>
        </footer>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="./js/main.js"></script>
</body>
</html>